$color-primary-light: #646cff;
$color-primary-dark: #8b92ff;

$color-bg-light: #ffffff;
$color-bg-dark: #121212;

$color-text-light: #222222;
$color-text-dark: #f2f2f2;

$color-border-light: #cccccc;
$color-border-dark: #444444;

:root {
  --color-primary: #{$color-primary-light};
  --color-bg: #{$color-bg-light};
  --color-text: #{$color-text-light};
  --color-border: #{$color-border-light};
}

html.light {
  --color-primary: #{$color-primary-light};
  --color-bg: #{$color-bg-light};
  --color-text: #{$color-text-light};
  --color-border: #{$color-border-light};
}

html.dark {
  --color-primary: #{$color-primary-dark};
  --color-bg: #{$color-bg-dark};
  --color-text: #{$color-text-dark};
  --color-border: #{$color-border-dark};
}
